@import 'pod-styles';

html, body {
  height: 100%;
}

body {
  padding: 0 40px;
  background: rgb(187, 91, 35);  // orange
  background: rgb(46, 157, 229); // blue
  //background: rgb(43, 191, 158); // green
  color: #fff;
  font-family: "proxima-nova", "Helvetica", sans-serif;
  font-size: 24px;
}

// NOTE: This is required because Ember wraps every template with a `<div // class="ember-view">` element
body > * {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 20px;
  }
}
