& {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 0 0 40px;
}

.applicationContent-logo {
  width: 100%;
  margin: 0 0 40px;
  text-align: center;
}
