& {
  width: 100%;
  margin: 0 0 40px;
  text-align: center;
}

.logo {
  width: 160px;
}

@media only screen and (max-width: 600px) {
  & {
    margin: 0 0 20px;
  }

  .logo {
    width: 80px;
  }
}
