<div>
  {{#x-select class="field" disabled=attrs.is-disabled value=value action="handleChange"}}
    <option>{{emptyName}}</option>

    {{#each attrs.options as |option|}}
      {{#x-option value=option.id}}
        {{option.name}}
      {{/x-option}}
    {{/each}}
  {{/x-select}}
</div>
