<select-input
  options={{model.months}}
  selected-id={{model.weatherReport.month}}
  on-change={{action 'onMonthChange'}} />

<span>is:</span>

<weather-result number={{model.weatherReport.average_weather}} />
