& {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: rgba(#fff, 0.4);
  text-align: center;
  font-size: 12px;
}

.authorLink,
.toolLink {
  color: rgba(#fff, 0.5);

  &:focus,
  &:hover {
    color: rgba(#fff, 0.75);
  }
}

.sourceLink {
  color: rgba(#fff, 0.3);

  &:focus,
  &:hover {
    color: rgba(#fff, 0.5);
  }
}
