& {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: rgba(#fff, 0.5);
}

.label {
  padding: 0.5em 0 0;
  font-size: 90px;
}

.number {
  font-weight: bold;
  color: #fff;
}

.comment {
  width: 100%;
  text-align: center;
  color: rgba(#fff, 0.4);
}
