& {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  color: rgba(#fff, 0.75);
  font-size: 18px;
}
